body{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(/img/BackGround.png);
  margin: 0;
  justify-content: center;
  text-align: center;
}
.hamburguer{
  height: 40px;
  width: 40px;
  left: 311px;
  top: 4px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.My-logo{
  width: 76px;
  height: 20px; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
}

.Alexandra{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
  flex: none;
  order: 0;
  flex-grow: 0;
}


#description{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #FFFFFF;
  flex:none;
  order: 1;
  flex-grow: 0;
}

.social-media.icons{
width: 170.17px;
height: 20px;
}
.twitter{
    position: absolute;
    left: 6.4%;
    right: 88.27%;
    top: 77.81%;
    bottom: 18.88%;    
}

.Linkedin{
  position: absolute;
  left: 16.8%;
  right: 81.87%;
  top: 77.85%;
  bottom: 18.87%; 
}

.m{
  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
    
}
.GitHub{
  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%; 
}
.paz{
  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%; 
}
